@import url('https://fonts.googleapis.com/css?family=Gupter&display=swap');

/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

:root {
	--lightgold: #efe2ba;
	--gold: #fdce4b;
	--red: #f13c20;
	--blue: #4056a1;
	--green: #2e8b57;
	--offwhite: #F2F0EB;
	--text: #2c3531;
}

html {
	height: 100%;
}

body {
	overflow-x: hidden;
	font-family: 'Gupter', serif;
	color: var(--text);
	height: 100%;
	/* edit background image here: https://www.befunky.com/create/photo-effects/ */
	/* edit videos/gifs here: https://app.clipchamp.com/editor */
	background-image: url('../img/background-edited.png')!important;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.non-mobile {
	display: block;
}

.mobile {
	display: none;
	position: absolute;
}

.mobile-credits {
	display: none;
}

.mobile-card {
	padding-bottom: 1rem;
}

.mobile-month-card {
	width: 100%;
}

.alexx {
	color: red;
}

.narrow {
	width: 75%;
	margin: 0 auto;
}

.intro {
	padding: 2rem 0rem;
	background-color: var(--blue);
	color: var(--offwhite);
}

.outro {
	padding: 2rem 0rem;
	background-color: var(--blue);
	color: var(--offwhite);
}

.outro-mobile {
	padding: 2rem;
	background-color: var(--blue);
	color: var(--offwhite);
	position: absolute;
	left: 0;
	right: 0;
}

.timeline {
	padding: 2rem 0rem 3.5rem 0rem;
}

h4 {
	font-size: 2rem;
}
h6 {
	font-size: 1.1rem;
}

.left-timeline-item {
	padding-bottom: 1rem;
}

.right-timeline-item {
	padding-bottom: 1rem;
}

.vertical {
	border-left: 6px solid var(--text);
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: -1!important;
}

.left-timeline-item::after {
	content: '';
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	right: -5.4rem;
	background-color: var(--red);
	top: 1rem;
	border-radius: 50%;
	z-index: 1!important;
}

.card {
	transition: transform .4s ease;
}

.card:hover {
	transform: scale(1.2);
}

#logo {
	width: 100%;
	height: 100%;
	max-width: 1.6rem;
	max-height: 1.6rem;
}

.socket {
	padding: 1rem;
	text-decoration: none;
	color: var(--offwhite);
}

.svg-inline--fa.fa-w-14 {
	color: var(--offwhite);
}

.svg-inline--fa.fa-w-16 {
	color: var(--offwhite);
}

/* Devices under 1200 (xl) */
@media(max-width: 1199px) {
	.left-timeline-item::after {
		right: -4.7rem;
	}
}

/* Devices under 992px (lg) */
@media(max-width: 991px) {
	.card:hover {
		transform: scale(1.0);
	}
	.timeline {
		padding-bottom: 0rem;
	}
	.non-mobile {
		display: none;
	}
	.mobile {
		display: block;
	}
	.mobile-credits {
		display: block;
	}
	body {
		background-image: url('../img/background-mobile-edited.png')!important;
	}
}

/* Devices under 768px (md) */
@media(max-width: 767px) {
	.non-mobile {
		display: none;
	}
	.mobile {
		display: block;
	}
	.mobile-credits {
		display: block;
	}
	.narrow {
		width: 90%;
	}
	body {
		background-image: url('../img/background-mobile-edited.png')!important;
	}
}

/* Devices under 576px (sm) */
@media(max-width: 575px) {
	.non-mobile {
		display: none;
	}
	.mobile {
		display: block;
	}
	.mobile-credits {
		display: block;
	}
	.narrow {
		width: 100%;
	}
	body {
		background-image: url('../img/background-mobile-edited.png')!important;
	}
}
