@import url('https://fonts.googleapis.com/css?family=Gupter&display=swap');

/*uncomment this line for debugging*/
/** {
	outline: solid 0.25rem;
}*/

:root {
	--lightgold: #efe2ba;
	--gold: #fdce4b;
	--red: #f13c20;
	--blue: #4056a1;
	--green: #2e8b57;
	--offwhite: #F2F0EB;
	--text: #2c3531;
}

html {
	height: 100%;
}

body {
	overflow-x: hidden;
	font-family: 'Gupter', serif;
	color: var(--text);
	background-color: black;
	height: 100%;
}

.non-mobile {
	display: block;
}

.mobile {
	display: none;
	position: absolute;
}

.background {
	animation: slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, var(--blue) 50%, var(--gold) 50%);
	bottom: 0;
	left: -50%;
	opacity: 0.5;
	position: fixed;
	right: -50%;
	top: 0;
	z-index: -1;
}

.background-2 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
}

.background-3 {
	animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.narrow {
	width: 75%;
	margin: 0 auto;
}

.intro {
	padding: 2rem 0rem;
	background-color: var(--blue);
	color: var(--offwhite);
}

.outro {
	padding: 2rem 0rem;
	background-color: var(--blue);
	color: var(--offwhite);
}

.outro-mobile {
	padding: 2rem;
	background-color: var(--blue);
	color: var(--offwhite);
	position: absolute;
	left: 0;
	right: 0;
}

.timeline {
	padding: 2rem 0rem 3.5rem 0rem;
}

h4 {
	font-size: 2rem;
}
h6 {
	font-size: 1.1rem;
}

.left-timeline-item {
	padding-bottom: 1rem;
}

.right-timeline-item {
	padding-bottom: 1rem;
}

.small-timeline-item {
	padding-bottom: 1rem;
}

.vertical {
	border-left: 6px solid var(--text);
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: -1!important;
}

.left-timeline-item::after {
	content: '';
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	right: -5.4rem;
	background-color: var(--red);
	top: 1rem;
	border-radius: 50%;
	z-index: 1!important;
}

.small-timeline-item::before {
	content: '';
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	left: -5.4rem;
	background-color: var(--red);
	top: 1rem;
	border-radius: 50%;
	z-index: 1!important;
}

.card {
	transition: transform .4s ease;
}

.card:hover {
	transform: scale(1.2);
}

#logo {
	width: 100%;
	height: 100%;
	max-width: 1.6rem;
	max-height: 1.6rem;
}

.socket {
	padding: 1rem;
	text-decoration: none;
	color: var(--offwhite);
}

.svg-inline--fa.fa-w-14 {
	color: var(--offwhite);
}

.svg-inline--fa.fa-w-16 {
	color: var(--offwhite);
}

/* Devices under 1200 (xl) */
@media(max-width: 1199px) {
	.left-timeline-item::after {
		right: -4.7rem;
	}
}

/* Devices under 992px (lg) */
@media(max-width: 991px) {
	.small-timeline-item::before {
		left: -3.4rem;
	}
	.card:hover {
		transform: scale(1.0);
	}
	.timeline {
		padding-bottom: 0rem;
	}
	.non-mobile {
		display: none;
	}
	.mobile {
		display: block;
	}
}

/* Devices under 768px (md) */
@media(max-width: 767px) {
	.small-timeline-item::before {
		left: -3.1rem;
	}
	.narrow {
		width: 90%;
	}
}

/* Devices under 576px (sm) */
@media(max-width: 575px) {
	.small-timeline-item::before {
		left: -0.5rem;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right:10px solid var(--red);
		border-radius: 0;
		background-color: rgba(0,0,0,0)
	}
	.narrow {
		width: 100%;
	}
}
